{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Trivia Questions</h1>
	    <div>
            <h2 id="question"></h2>
	        <h2 id=question_number></h2>   
        </div>
	    <div id="button-div">
            <button type="button" id="submit-a" class="disabled" onClick="submit_response($('#submit-a').html());">A</button>
	        <button type="button" id="submit-b" class="disabled" onClick="submit_response($('#submit-b').html());">B</button>
	        <button type="button" id="submit-c" class="disabled" onClick="submit_response($('#submit-c').html());">C</button>
            <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('instructions/pgg_instructions - 1');">
                GET ME OUT OF HERE PLS</button>
         </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        create_agent();
    </script>
{% endblock %}

