{% extends "base/ad.html" %}

{% block no_assignment %}
  <h1>Call for participants</h1>
    <p>The Anhtroplogy Department at Durham University is looking for online participants to take part  	in an online experiment to investigate the evolution of social behaviour. The only requirement 		is that you are at least 18 years old. The experiment will take approximately THIS NEEDS TO BE FILLED IN LATER ON and will pay THIS WILL ALSO NEED TO BE FILLED IN. Please note, in this experiment you will be playing simultanously with several other real players</p> 
<p>
Please click the "Accept HIT" button on the Amazon site
above to begin the task.
</p>
{% endblock no_assignment %}
