{% extends "layout.html" %}

{% block body %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PGG</title>
</head>

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center" style="font-size: 53px;">Part Two</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="hidden" id="waiting">Waiting for other players...</h1>
                    <h1 class="hidden" id="instructions">Please select below how many points you would like to donate to the public fund:</h1>
                    <h1 class="hidden" id="earnings"><strong>This round </strong>you earned:</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div>
                    <h1 class="text-center hidden" id="points" style="font-size: 86px;">0</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <button onClick="submit_choice($('#submit-0').html())" class="btn btn-info btn-lg hidden" type="button" id="submit-0" style="width: 82px;height: 47px;">0</button>
                    <button onClick="submit_choice($('#submit-1').html())"class="btn btn-info btn-lg hidden" type="button" id="submit-1" style="width: 82px;height: 47px;">1</button>
                    <button onClick="submit_choice($('#submit-2').html())"class="btn btn-info btn-lg hidden" type="button" id="submit-2" style="width: 82px;height: 47px;">2</button>
                    <button onClick="submit_choice($('#submit-3').html())"class="btn btn-info btn-lg hidden" type="button" id="submit-3" style="width: 82px;height: 47px;">3</button>
                    <button onClick="submit_choice($('#submit-4').html())"class="btn btn-info btn-lg hidden" type="button" id="submit-4" style="width: 82px;height: 47px;">4</button>
                </div>
                <div class="text-center">
                    <button onClick="submit_choice($('#submit-5').html())"class="btn btn-info btn-lg hidden" type="button" id="submit-5" style="width: 82px;height: 47px;">5</button>
                    <button onClick="submit_choice($('#submit-6').html())"class="btn btn-info btn-lg hidden" type="button" id="submit-6" style="width: 82px;height: 47px;">6</button>
                    <button onClick="submit_choice($('#submit-7').html())"class="btn btn-info btn-lg hidden" type="button" id="submit-7" style="width: 82px;height: 47px;">7</button>
                    <button onClick="submit_choice($('#submit-8').html())"class="btn btn-info btn-lg hidden" type="button" id="submit-8" style="width: 82px;height: 47px;">8</button>
                    <button onClick="submit_choice($('#submit-9').html())"class="btn btn-info btn-lg hidden" type="button" id="submit-9" style="width: 82px;height: 47px;">9</button>
                    <button onClick="submit_choice($('#submit-10').html())"class="btn btn-info btn-lg hidden" type="button" id="submit-10" style="width: 82px;height: 47px;">10</button>
            </div>
        </div>
    </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="hidden" id="added">This will be added to your score</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row hidden">
                <div class="col-md-offset-10 col-sm-offset-10 col-xs-offset-10"><button class="btn btn-success btn-lg" type="button" id="confirm" style="color: rgb(255,255,255);">Confirm</button></div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
{% block scripts %}
    <script>
start_experiment();
    </script>
{% endblock %}

