{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Debriefing sheet</h1>
        <hr>
        <p>Thank you for taking part in this study. This study broadly aims to better understand the evolution of human cooperative behaviour and how this might be influenced by social learning. We did this, by measuring your cooperative behaviour through the money game.</p>
	<p>If you would like further information about the study, would like to know what the general findings are once all the data has been collected or analysed or have any other questions in general. Please contact the lead researcher for this project. Robin Watson [robin.o.watson@durham.ac.uk]</p>
	<p>Please answer the following short questions about the experiment you just took part in. After which, you will be eligible for full payment plus a bonus depending on your score from the game.</p>
        <div class="main_div">
            <form>
            	{% block replace_questions %}
	                {% block questions %}
	                {% endblock %}
                        <div class="row question">
                            <div class="col-md-12 text-center">
                              <label for="comment">How do you think most people would say you should behave in this game?</label>
                              <textarea class="form-control" rows="3" name="moral"></textarea>
                            </div>
                        </div>
	                <div class="row question">
                            <div class="col-md-12 text-center">
                              <label for="comment">Why did you choose to behave how you did in the game?</label>
	                      <textarea class="form-control" rows="3" name="behaviour"></textarea>
	                    </div>
	                </div>

	                <div class="row question">
	                    <div class="col-md-8">
	                        On a scale of 1-10 (where 10 is perfectly understood), how would you rate your understanding of how the game worked?
	                    </div>
	                    <div class="col-md-4">
	                        <select id="understanding" name="understanding">
	                            <option value="10">10 - Perfectly understood</option>
	                            <option value="9">9</option>
	                            <option value="8">8</option>
	                            <option value="7">7</option>
	                            <option value="6">6</option>
	                            <option value="5" SELECTED>5 - Mostly Understood</option>
	                            <option value="4">4</option>
	                            <option value="3">3</option>
	                            <option value="2">2</option>
	                            <option value="1">1 - Did not at all understand</option>
	                        </select>
	                    </div>
	                </div>
	            {% endblock %}
            </form>
        </div>
        <hr>
        <di class="instructionsnav">
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <button type="button" id="submit-questionnaire" class="btn btn-primary btn-lg continue">Continue</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
      $("#submit-questionnaire").click(function() {
        dallinger.submitQuestionnaire();
      });
    });
  </script>
{% endblock %}
