{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Task Complete</h1>
        <hr>
        <p>You are finished!  Thank you for your contributions to science. You will be eligible for full payment once you answer the following questions.</p>
        <div class="main_div">
            <form>
            	{% block replace_questions %}
	                {% block questions %}
	                {% endblock %}
	                <div class="row question">
	                    <div class="col-md-8">
	                      <h1>Please answer the following questions about the game you have just played</h1>
	                    </div>
	                    <div class="col-md-4">
                              <label for="comment">How do you think most people would say you should behave in this game?</label>
	                      <textarea class="form-control" rows="3" name="moral"></textarea>
	                    </div>
                            <div class="col-md-4">
                              <label for="comment">Why did you choose to behave how you did in the game?</label>
	                      <textarea class="form-control" rows="3" name="behaviour"></textarea>
	                    </div>
	                </div>
	            {% endblock %}
            </form>
        </div>
        <hr>
        <di class="instructionsnav">
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-7">
                </div>
                <div class="col-xs-3">
                    <button type="button" id="submit-questionnaire" class="btn btn-primary btn-lg continue">Continue</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
      $("#submit-questionnaire").click(function() {
        dallinger.submitQuestionnaire();
      });
    });
  </script>
{% endblock %}
