{% extends "layout.html" %}

{% block body %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Scorescreen 2</title>
</head>

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 style="font-size: 49px;">Results of Part One</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-left text-success" id="Congratulations" style="color: rgb(231,27,14);font-size: 40px; display:none">Congratulations!</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h1 class="hidden" id="id-head" style="font-size: 54px;">Participant ID:</h1>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h1 class="hidden" id="ID" style="font-size: 54px;">0</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="display:none" id="you-win"><strong>You </strong>were the highest scoring participant in this round with a score of:</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="display:none" id="other-win">Was the highest scoring participant in this round with a score of:</h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-center hidden" id="Score" style="font-size: 99px;">0</h1>
                </div>
                <div class="col-md-6">
                    <h1 class="text-center hidden" id="out-of" style="font-size: 99px;">/ 10</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
           <button id="next" class="btn btn-success btn-lg text-right" style="display:none" type="button" onclick="dallinger.allowExit();dallinger.goToPage('instructions/pgg_instructions - 1');">Next</button></div>
           <button id="blank" class="btn btn-primary btn-lg text-right" type="button" onClick="save_pog();">Blank page?</button></div>
        </div>
    </div>
</body>

</html>
{% endblock %}
{% block scripts %}
    <script>
$(document).ready(function() {
save_pog();
}); 
    </script>
{% endblock %}

