{% extends "base/ad.html" %}

{% block no_assignment %}
  <h1>Call for participants</h1>
    <p>The Anthropology Department at Durham University is looking for participants to take part in an online multiplayer experiment aiming to investigate the evolution of social behaviour. The experiment will take approximately 10 minutes to complete. Please note that during the study you can earn a bonus payment depending on your behaviour in the second part of the experiment.</p> 
<p>
Please click the "Accept HIT" button on the Amazon site
above to begin the experiment.
</p>
{% endblock no_assignment %}
