{% extends "layout.html" %}

{% block body %}
     <div id="afkModal" class="modal">
        <div class="modal-body text-center" style="display:none;">
          <h1>Are you still reading?</h1>
             <button type="button" class="btn btn-success btn-lg" onClick="ping_server()">Yes</button>
        </div>
    </div>
    <div id="PD" class="main_div text-center" style="display:none;">
        <h1>Part Two</h1>

        <hr>

        <p>In the animation below, there are three different scenarios displayed. The numbers on the left are the number of units each participant decided to donate and the numbers on the right are the total units that they earned from that round. Remember, anything you choose <strong>not</strong> to donate is automatically added to your rolling total. Therefore, if nobody donates any lab money, then everyone will end the round with the 10 units they started with.</p>

        <img src='/static/gif/PD.gif/' width="750" height="550">

	<p>When you are ready to advance to the next instruction, click the button below.</p> 
    
        <hr>
    </div>
    <div>
      <div id="next" class="row" style="display:none;">
        <div class="col-10"></div>
        <div class="col-2">
          <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('instructions/pgg_condition_check');">Next</button>
        </div>
    </div>
    <div id="SD" class="main_div text-center" style="display:none;">
        <h1>Part Two</h1>

        <hr>

        <p>In the animation below, there are three different scenarios displayed. The numbers on the left are the number of units each participant decided to donate and the numbers on the right are the total units that they earned from that round. Remember, anything you choose <strong>not</strong> to donate is automatically added to your rolling total.</p>
        
        <p>Also remember that unless the total in the pot is equal to or greater than <strong>10 units</strong>, then nobody will earn anything from that round. This is shown in the third case on the animation. Therefore, if nobody donates any lab money, then nobody will earn any points that round.</p>

<img src='/static/gif/SD.gif/' width="750" height="550" class="text-center">

	<p>When you are ready to advance to the next instruction, click the button below.</p> 
    
        <hr>
    </div>
    <div>
      <div id="next2" class="row" style="display:none;">
        <div class="col-10"></div>
        <div class="col-2">
          <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('instructions/pgg_condition_check');">Next</button>
        </div>
    </div>    

<!-- Modal -->
<div class="modal fade" id="reading" tabindex="-1" role="dialog" aria-labelledby="readingLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="readingLabel">Are you still reading?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="ping_server(); afkounter=60; clearTimeout(modal_timeout); start_modal_timeout(afkounter)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>To keep your place in the experiment, please click below</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="ping_server(); afkounter=60; clearTimeout(modal_timeout); start_modal_timeout(afkounter);">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
      page_check();
      var modal = document.getElementById('reading')
        var afkounter = 60
        start_modal_timeout(afkounter) // Starts the modal timer
        window.onclick = function(event) {
        //alert(event.target)
            if (event.target == modal) {
               clearTimeout(modal_timeout);
               modal.style.display = "none";
               ping_server();
               afkounter= 60
               start_modal_timeout(afkounter)
            } 
        }      
    </script>

{% endblock %}
