{% extends "layout.html" %}

{% block body %}
    <div class="main_div text-center">
        <h1>Part One</h1>

        <hr>

        <p>During this part of the study, you will be presented with 10 questions designed to assess your understanding of group behaviour. In each case, there will be 3 possible answers and 1 correct answer. In many cases, more than 1 answer may be plausible, in which case, select the answer which you think is the <strong>most likely</strong> to be true, or true in the <strong>most cases</strong>.</p>
	<p>You will have 20 seconds to provide your answer. After which, a randomly selected wrong answer will be chosen automatically.</p>
        <p>Remember that in this study, you will be playing <strong>with other players</strong>. If somebody leaves or stops responding, the study may also look like it has stopped responding. If this happens, please do not refresh the page or close the window, the study will advance automatically after a short delay.</p>
	<p>When you are ready to proceed, click the button below.</p> 

        <hr>

        <div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('trivia');">
                    Ready</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        dallinger.createParticipant();   
    </script>
{% endblock %}
