{% extends "layout.html" %}

{% block body %}
    <div id="PD" class="main_div" style="display:none;">
        <h1>Part Two</h1>

        <hr>

        <p>In this example three players decide to donate all of their points to the public fund, while one player chooses not to. This means there are <strong>30</strong> points in the public pot. This will double to <strong>60</strong> and be split amongst all players. Therefore, the player that donated will end the round with <strong>15</strong> points whilst the players that did not end the round with <strong>25</strong>.</p>

<img src='/static/images/one-defect.png/' width="600" height="400">

	<p>Note that in this case, the player that chose not to donate has a higher score than the other players.</p> 
	<p>When you are ready to proceed, click the button below.</p> 
    
        <hr>
    </div>
    <div>
      <div id="next" class="row" style="display:none;">
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('instructions/pgg_instructions - 4');">Next</button>
        </div>
    </div>
    <div id="SD" class="main_div" style="display:none;">
        <h1>Part Two</h1>

        <hr>

        <p>In this example only one player decides to donate all of their points to the public fund, while the rest of the players choose not to. This means there are <strong>10</strong> points in the public pot <strong>which is equal to the threshold</strong>. This will double to <strong>20</strong> and be split amongst all players. Therefore, the player that donated will end the round with <strong>5</strong> points whilst the players that did not end the round with <strong>15</strong>.</p>

<img src='/static/images/SD-one-cop.png/' width="600" height="400">

	<p>Note that in this case, the players that did not donate ended up with more points than the player who did.</p> 
	<p>When you are ready to proceed, click the button below.</p> 
    
        <hr>
    </div>
    <div>
      <div id="next2" class="row" style="display:none;">
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('instructions/pgg_instructions - 4');">Next</button>
        </div>
    </div>    

{% endblock %}

{% block scripts %}
    <script>
      page_check();
    </script>
{% endblock %}

