{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Part Two</h1>

        <hr>

        <p>In this example all players decide to donate all of their money to the public fund. 		This means there are 40 points in the public pot. This will double to 80 and be split 		amongst all players. Therefore, all players finish the round with 20 points each.</p>

<img src='/static/images/All-cooperate.png/' width="600" height="400">

	<p>Note that in this case, every participant ended up with equal points and all with more 		points than they had at the start.</p> 
	<p>When you are ready to proceed, click the button below.</p> 

        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('instructions/pgg_instructions - 3');">
                    Next</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
