{% extends "layout.html" %}

{% block body %}
     <div id="afkModal" class="modal">
        <div class="modal-body text-center" style="display:none;">
          <h1>Are you still reading?</h1>
             <button type="button" class="btn btn-success btn-lg" onClick="ping_server()">Yes</button>
        </div>
    </div>
    <div id="PD" class="main_div">
        <h1>Part Two</h1>


        <p id="BB" style="display:none;">During the game, after each round you will receieve feedback on how many points you have scored. However, you will not be able to see how much any other participant chose to donate.</p>

        <p id="prestige" style="display:none;">During the game, after each round you will receieve feedback on how many points you have scored. You will also see how much the participant who scored highest in the quiz chose to donate that round.<p>

        <p id="conform" style="display:none;">During the game, after each round you will receieve feedback on how many points you have scored. You will also see what the average donation was during that round.</p>

       <p id="payoff" style="display:none;">During the game, after each round you will receieve feedback on how many points you have scored. You will also see how much the participant who currently has the most points chose to donate in that round.</p> 

      <p id="full" style="display:none;">During the game, after each round you will receieve feedback on how many points you have scored. You will also see a breakdown of how much each participant chose to donate that round</p>

      <p id="choose" style="display:none;">During the game, after each round you will receieve feedback on how many points you have scored. You may also select below to view information regarding the behaviour of some other participants in the game. You may select from the highest scoring participant from the quiz, the average donation after each round or the donation of the highest earner in the game after each round. If you choose to do so, your final score in the game will be divided by 10, so please choose carefully. If you do <strong>not</strong> wish to view any extra information, please select none. </p>
      <p>When you are ready to proceed, click the button below.</p> 
   </div>
   <div>
     
    <div>
      <div id="next" class="row">
        <div class="col-10"></div>
        <div class="col-2">
          <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('PGG');">Next</button>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="reading" tabindex="-1" role="dialog" aria-labelledby="readingLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="readingLabel">Are you still reading?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="ping_server(); counter=50; start_modal_timeout(counter)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>To keep your place in the experiment, please click below</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="ping_server(); counter=50; start_modal_timeout(counter);">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
      final_page();
      var modal = document.getElementById('reading')
        var counter = 50
        start_modal_timeout(counter) // Starts the modal timer
        window.onclick = function(event) {
        //alert(event.target)
            if (event.target == modal) {
               modal.style.display = "none";
               ping_server();
               counter = 50
               start_modal_timeout(counter)
            } 
        }      
    </script>
{% endblock %}

