{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Part Two</h1>

        <hr>

        <p>During this part of the study, each round you will be given 10 lab points and you must decide how much of this, if any, to donate to a public fund. This public fund will then be doubled and split evenly amongst all players. Then, anything that you earn from the public fund, as well as any money you <strong>did not</strong> donate to the pot will be added to your overall score. At the end of the game, all players will receieve a bonus payout determined by their score during the game.</p>

<p>Before proceeding, there will be two examples to help you understand how the game works which will explain how each participant will score depending on their behavior.</p>
	<p>When you are ready to proceed, click the button below.</p> 

        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('instructions/pgg_instructions - 2');">
                    Next</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
