{% extends "layout.html" %}

{% block body %}
    <div id="PD" class="main_div" style="display:none;">
        <h1>Part Two</h1>

        <hr>

        <p>During this part of the study, each round you will be given <strong>10</strong> lab points and you must decide how much of this, if any, to donate to a public fund. This public fund will then be doubled and split evenly amongst all players. Then, anything that you earn from the public fund, as well as any money you <strong>did not</strong> donate to the pot will be added to your overall score. At the end of the game, all players will receieve a bonus payout determined by their score during the game.</p>

        <p>Before proceeding, there will be two examples to help you understand how the game works which will explain how each participant will score depending on their behavior.</p>
	<p>When you are ready to proceed, click the button below.</p> 

        <hr>

    </div>
    <div id="SD" class="main_div" style="display:none;">
        <h1>Part Two</h1>

        <hr>

        <p>During this part of the study, each round you will be given <strong>10</strong> lab points and you must decide how much of this, if any, to donate to a public fund. This public fund will then be doubled and split evenly amongst all players. Then, anything that you earn from the public fund, as well as any money you <strong>did not</strong> donate to the pot will be added to your overall score. <strong>However</strong>, after everyone has donated, if the total in the pot is <strong>less than 10</strong> then everybodys score becomes <strong>0</strong> for that round. At the end of the game, all players will receieve a bonus payout determined by their score during the game.</p>

        <p>Before proceeding, there will be three examples to help you understand how the game works which will explain how each participant will score depending on their behavior.</p>
	<p>When you are ready to proceed, click the button below.</p> 

        <hr>

    </div>    
            <div id="next" class="row" style="display:none">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('instructions/pgg_instructions - 2');">Next</button>
                </div>
            </div>
{% endblock %}

{% block scripts %}
    <script>
        begin_instructions();
    </script>
{% endblock %}
