{% extends "layout.html" %}

{% block body %}
    <div id="PD" class="main_div" style="display:none;">
        <h1>Part Two</h1>

        <hr>

        <p>In this example none of the players decide to donate anything to the public fund. This means there are <strong>no</strong> points in the public fund. Therefore, all the players will end the round with the points they started with.</p>

<img src='/static/images/All-defect.png/' width="600" height="400">

	<p>When you are ready to proceed, click the button below.</p> 
    
        <hr>
    </div>
    <div>
      <div id="next" class="row" style="display:none;">
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('PGG');">Next</button>
        </div>
    </div>
    <div id="SD" class="main_div" style="display:none;">
        <h1>Part Two</h1>

        <hr>

        <p>In this example none of the players decide to donate anything to the public fund. This means there are <strong>no</strong> points in the public pot <strong>which is less than the threshold</strong>. Therefore, in this round, all players end the round with <strong>0</strong> points.</p>

<img src='/static/images/SD-no-cop.png/' width="600" height="400">

	<p>When you are ready to proceed, click the button below.</p> 
    
        <hr>
    </div>
    <div>
      <div id="next2" class="row" style="display:none;">
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
          <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('PGG');">Next</button>
        </div>
    </div>    

{% endblock %}

{% block scripts %}
    <script>
      page_check();
    </script>
{% endblock %}

