{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Part One</h1>

        <hr>

        <p>For this part of the study, you will be presented with a series of trivia questions along with 4 possible answers. You must select one of these answers for each question. You will only have a limited time available to answer each question, so make sure to answer quickly.</p>
	<p>At the end of this round, each participants scores will be displayed publically.</p>
	<p>When you are ready to proceed, click the button below.</p> 

        <hr>

        <div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('trivia');">
                    Ready</button>
                        <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reading">
                    Launch demo modal</button>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="reading" tabindex="-1" role="dialog" aria-labelledby="readingLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="readingLabel">Are you still reading?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="ping_server(); counter=50; start_modal_timeout(counter)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>To keep your place in the experiment, please click below</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="ping_server(); counter=50; start_modal_timeout(counter);">Yes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        dallinger.createParticipant();
        var modal = document.getElementById('reading')
        var counter = 50
        start_modal_timeout(counter) // Starts the modal timer
        window.onclick = function(event) {
        //alert(event.target)
            if (event.target == modal) {
               modal.style.display = "none";
               ping_server();
               counter = 50
               start_modal_timeout(counter)
            } 
        }      
    </script>
{% endblock %}
