{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Part One</h1>

        <hr>

        <p>During this part of the study, you will be presented with 10 questions designed to assess your general knowledge and problem-solving skills. In each case, there will be three possible answers and 1 correct answer.</p>
	<p>You will only have 10 seconds to provide your answer, so make sure to answer quickly.</p>
	<p>When you are ready to proceed, click the button below.</p> 

        <hr>

        <div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('trivia');">
                    Ready</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        dallinger.createParticipant();   
    </script>
{% endblock %}
